@mixin on-circle($circle-size, $item-size) {
  height: $circle-size;
  width: $circle-size;
  
  > .child-list {
    display: block;
    position: absolute;
    height: $item-size;
    left: 50%;
    margin: -1 * calc($item-size / 2);
    top: 100%; 
    width: $item-size;
  }
}