<div
  class="node-connector"
  id="connector-{{@model.parent.id}}-{{@model.id}}"
  {{style
    (hash
      height=@model.parentConnectorAttributes.height
      left=@model.parentConnectorAttributes.left
      top=@model.parentConnectorAttributes.top
      transform=@model.parentConnectorAttributes.transform
    )
  }}
></div>