<div
  class="node-connector"
  id="connector-{{@model.parent.id}}-{{@model.id}}"
  {{did-insert this.setupConnector}}
  {{style
    (hash height=this.height left=this.left top=this.top transform=this.transform)
  }}
></div>